<h2>Simple CRUD app using RESTful backend services</h2>

<div ng-controller="NotesCtrl">

    <div class="control-group">
        <input class="span4" type="text" ng-model="searchText.$" placeholder="Filter the list..">
        <!--
         The following defines two buttons used for either hiding or showing the note form. The noteForn.show
         variable in the NoteCtrl determines which button is displayed.
        -->
        <button ng-show="!noteForm.show" class="span3 btn" style="margin-left: 0; margin-right: 4px" type="button"
                ng-click="toggleNoteForm()">Show note form</button>
        <button ng-show="noteForm.show" class="span3 btn" style="margin-left: 0; margin-right: 4px" type="button"
                ng-click="toggleNoteForm()">Hide note form</button>
    </div>

    <div ng-show="noteForm.show">
        <form class="form-inline" ng-submit="saveNote(noteForm.note)">
            <input type="text" class="span1" placeholder="Note text" ng-model="noteForm.note.note_val">
            <button type="submit" class="btn btn-primary">Save</button>
            <!--
             Note that the clear-button here must have the type attribute set to 'button' otherwise it will
             by default get type=submit. See:
             http://stackoverflow.com/questions/12319758/angularjs-clicking-a-button-within-a-form-causes-page-refresh
            -->
            <button type="button" class="btn" ng-click="clearForm()">Clear form</button>
        </form>
    </div>

    <h3>List of Notes</h3>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th style="width: 100px">Operation</th>
            <th style="width: 20px">Id</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="n in notes | orderBy:'note_val' | filter:searchText">
            <td style="width: 100px">
                <button class="btn" ng-click="editNote(n)"><i class="icon-edit"></i></button>
                <button class="btn" ng-click="deleteNote(n)"><i class="icon-trash"></i></button>
            </td>
            <td style="width: 20px"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
